* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu{
    width: 100%;
    height: 50px;
    background-color: #55f;
    font-family: 'Arial';
}
.menu ul{
    list-style: none;
    position: relative;
    height: 100%;
}
.menu ul a{
    display: flex;
    align-items: center;
    width: auto;
    height: 100%;
    padding: 0px 30px;
    float: left;
    text-decoration: none;
    color: white;
}

.menu a:hover{
    background-color: rgb(78, 78, 155);
    transition-duration: 0.5s;
}

.menu p{
    float: right;
    color: white;
    height: 100%;
    display: flex;
    align-items: center;
}












