* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('../../img/1026.gif');
    background-clip: url('../../img/1026.MP4');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center
}

.telaLoginGame {
    width: 300px;
    padding: 10px;
    box-shadow: 1px 1px 5px rgba(85,99,255, 0.5);;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
label{
    color:  #5563FF;
    font-weight: bold;
}
input {
    width: 100%;
    margin: 5px;
    padding: 10px;
    border: none;
    border-collapse: none;
    text-decoration: none;
    outline-color: #5563FF;
}
.inputSubmit {
    background-color: #5563FF;
    color: whitesmoke;
    font-weight: bold;
    border-left: none;
    border-top: none;
    border-right: 2px solid black;
    border-bottom: 2px solid gray;
    cursor: pointer;
}
.inputSubmit:hover {
    border-right: none;
    border-bottom: none;
    border-left: 2px solid black;
    border-top: 2px solid gray;
}
.login {
    text-decoration: none;
    width: 100%;
    text-align: center;
    margin: 5px;
    padding: 5px;
    border: 1px ;
    background-color: blueviolet;
    color: whitesmoke;
    border-left: none;
    border-top: none;
    border-right: 2px solid black;
    border-bottom: 2px solid gray;
}
.login:hover {
    border-right: none;
    border-bottom: none;
    border-left: 2px solid black;
    border-top: 2px solid gray;
}
h1{
    color: #5563FF;
}