DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=dekership
DB_USER=root
DB_PASS=
WS_URL=ws://127.0.0.1:8766/ws
WS_ALLOWED_ORIGIN=*
WS_TICK_RATE=20
RECONNECT_TIMEOUT_SECONDS=10
INPUT_RATE_LIMIT_PER_SECOND=30
AUTH_USER_TABLE=usuario
AUTH_ID_COLUMN=id
AUTH_USERNAME_COLUMN=usuario
AUTH_DISPLAY_COLUMN=usuario
AUTH_PASSWORD_COLUMN=senha
AUTH_TOKEN_COLUMN=token
DEFAULT_ADMIN_USERNAME=deker
