/* CORPO TOTAL */
*{
    margin: 0 auto;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a{
    text-decoration: none;
}
/* BOTÕES */
button{
    background-color: rgb(50, 50, 139);
    padding: 5px;
    color: white;
    border-radius: 5px;
}
button:hover{
    background-color: rgb(0, 23, 150);
}
button:active{
    background-color: rgb(0, 23, 500);
}
#btn-logout{
    background-color: rgb(50, 50, 139);
    color: white;
    padding: 0px 5px 0px 5px;
}
#btn-logout:hover{
    background-color: rgb(150, 4, 4);
}
#btn-logout:active{
    background-color: rgb(300, 4, 4);
}

/* TABELA CLIENTES */
.row{
    padding: 10px;
}
table {
    table-layout: fixed;
    border-collapse: collapse;
    margin: 5px 0px 10px 0px;
    border-radius: 5px;
}
th{
    background-color: rgb(50, 50, 139);
    padding: 10px;
    color: white;
}
td{
    padding: 10px;
}
.tb{
    border: 1px solid #000;
}
.bt{
    padding: 5px;
}

